@model Message
@{
    ViewData["Title"] = "MessageDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">Mesaj Detayı</h3>
<table class="table table-striped">
    <tr>
        <th>Gönderen Ad Soyad: </th>
        <td>@Model.Sender.FristName @Model.Sender.LastName</td>
    </tr>
    <tr>
        <th>Gönderen Email</th>
        <td>@Model.Sender.Email</td>
    </tr>
    <tr>
        <th>Konu</th>
        <td>@Model.Subject</td>
    </tr>
    <tr>
        <th>Mesaj</th>
        <td>@Model.Body</td>
    </tr>
</table>
<a href="/Message/Index" class="btn btn-outline-primary">Geri Dön</a>
