@model List<Message>
@*
    Navbar component partial view for the main navigation bar.
*@
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Ara.." aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-comments"></i>
                <span class="badge badge-danger navbar-badge">@ViewBag.IsRead</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <div class="dropdown-divider"></div>
                @foreach (var item in Model)
                {
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    @item.Sender.FristName @item.Sender.LastName
                                </h3>
                                <p class="text-sm">@item.Subject</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> @item.SendDate.ToShortDateString()</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                }

                <a href="/Message/Index" class="dropdown-item dropdown-footer">Tümünü Gör</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-comments"></i>
                <span class="badge badge-danger navbar-badge">Profil</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <div class="dropdown-divider"></div>
                

                <a href="/Message/Index" class="dropdown-item dropdown-footer">Tümünü Gör</a>
            </div>
        </li>
    </ul>
</nav>